@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-dark-bg text-dark-text;
  }

  .loader {
    @apply border-8 border-t-8 border-gray-200 text-primary rounded-full w-16 h-16 animate-spin;
  }
}

@layer utilities {
  .common-container-curved-box {
    border-top-right-radius: 250px;
    border-bottom-width: 0.5cap;
    padding-bottom: 50px;
  }

  .button-curved-box {
    border-top-right-radius: 20px;
    border-bottom-width: 0.1cap
  }

  .curves-for-stuff{
    border-top-right-radius: 300px;
    border-bottom-width: 0.5cap

  }
}




.common-input {
  @apply block w-32 border border-gray-600 rounded-md p-2 bg-dark-bg text-dark-text curves-for-stuff;
}

.common-container {
  @apply p-5 bg-dark-card shadow-xl transition-all duration-300 ease-in-out common-container-curved-box p-4 ;

}




.common-button {
  @apply text-white py-2 px-4 rounded-md mr-2 hover:bg-slate-900 transition duration-300 mb-2 button-curved-box ;
}

.difference-button {
  @apply text-white py-2 px-4 rounded-md mr-2 hover:bg-slate-900 transition duration-300 mb-2 button-curved-box;
}


.report-button {
  @apply text-white py-2 px-4 rounded-md mr-2 hover:bg-slate-900 transition duration-300 mb-2 button-curved-box;
}







/* styles.css */

/* Ensure Offcanvas has a higher z-index */
.offcanvas {
  z-index: 1050 !important;
}